* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title__header {
  margin: 30px;
  text-align: center;
}
.nav {
  justify-content: center;
}
.nav-pills .nav-link.active {
  background-color: #9c9c9c;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.content__input {
  text-align: center;
  padding: 40px;
  border: #cd853f solid 5px;
  margin: 30px;
}
.nav-link {
  color: #cd853f;
  font-weight: 600;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: purple;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #58257b;
}
.button:active {
  background-color: #58257b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
label{
  font-family: 'Noto Sans JP';
  font-weight: 700;
  color: #666;
}
.content__input p{
  font-size: 25px;
  font-weight: 700;
}
input {
  box-shadow: rgba(132, 65, 65, 0.5) 3px 3px 6px 1px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  list-style: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: 20px;
  border-radius: 5px;
  color: rgb(9, 97, 97);
  padding-left: 10px; /* Khoảng cách bên trái */
  padding-right: 10px; /* Khoảng cách bên phải */
}
input:focus {
  outline: none; /* Loại bỏ viền xung quanh input */
  border-color: initial; /* Loại bỏ màu viền */
  background-color: initial; /* Loại bỏ màu nền */
  caret-color: rgb(70, 24, 168); 
}
.content__ketqua{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius:10px ;
  font-size: 25px;
  font-weight: 700;
}
/* Ẩn mũi tên lên và xuống cho input type "number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
/* 
 */
 .button1 {
  display: inline-block;
  padding: 8px 15px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(150, 29, 11);
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}
.button1:hover {
  background-color: rgb(150, 29, 11);
}
.button1:active {
  background-color: #987d32;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*  */
.tab-content h4{
  text-align: center;
  margin: 30px;
}
